
<h1>this is the index view</h1>
<% @posts.each do |post| %>
<<<<<<< HEAD
<div class="col-md-4">
    <div class="post">
        <h2 class="post-title"><%= post.title %></h2>
<%= link_to "View Post", post_path(post), class: "btn-custom "%>
    </div>
</div>
<% end %>

<br>
=======
<h2><%= post.title %></h2>
<!-- <p><%#= post.content %></p> -->
<%= link_to "View Post", post_path(post), class: "btn btn-default "%>
    <%= link_to 'Add to favorites', post_favorite_posts_path(post.id, @post), method: :post %>
    <%#= link_to 'Remove from favorites', post_favorite_posts_path(post.id, @post), method: :delete %>
  <% end %>
>>>>>>> 06a1400da6e76487947d8d0693eccd6a738dae02
<br>
<%= link_to "New Post", new_post_path %>

